<h1><%= t('Listing teams') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Lastname') %></th>
      <th><%= t('Email') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.lastname %></td>
        <td><%= team.email %></td>
        <td><%= link_to t('Show'), team %></td>
        <td><%= link_to t('Destroy'), team, method: :delete, data: { confirm: t('Are you sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

